@page "/"

<PageTitle>Index</PageTitle>

<p>JavaScript code is in index.html and someModule.js files.</p>
<p>run() JS method is run from MainLayout.razor component.</p>
<p>Most of effects of using JS/Blazor code you can find in DevTools as log message.</p>